*{ 
    padding: 0;
    margin:0;
    box-sizing: border-box;
   
}

body{
    text-align: center;
    background: radial-gradient(#f69d3c, #3f87a6);
    
}

hr{
    margin:0 !important;
    opacity: 1 !important;
    color:white;    
}

li{
    z-index: 1;
}

.figIn{
    color: rgb(95, 8, 95);
}









